---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.platformApi.name }}
  labels:
    app: {{ .Values.platformApi.name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/name:  {{ .Values.platformApi.name }}
    helm.sh/chart: {{ .Release.Name }}
spec:
  minReadySeconds: 0
  {{- if hasKey .Values "replicas" }}
  replicas: {{ .Values.replicas }}
  {{- else }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      k8s-app: {{ .Values.platformApi.name }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ .Values.platformApi.name }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        heritage: {{ .Release.Service }}
        k8s-app: {{ .Values.platformApi.name }}
        component: {{ .Values.platformApi.name }}
        release: {{ .Release.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name:  {{ .Values.platformApi.name }}
        helm.sh/chart: {{ .Release.Name }}
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
        clusterhealth.ibm.com/dependencies: "auth-idp, auth-pap, auth-pdp, cert-manager, icp-management-ingress"
    spec:
      serviceAccount: ibm-platform-api-operand
      serviceAccountName: ibm-platform-api-operand
      hostPID: false
      hostIPC: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ .Values.platformApi.name }}
              topologyKey: "kubernetes.io/hostname"
            weight: 100
      terminationGracePeriodSeconds: 60
      hostNetwork: {{ .Values.platformApi.hostNetwork }}
      initContainers:
      - name: check-certs
        image: {{ .Values.platformApi.image.repository }}
        imagePullPolicy: {{ .Values.platformApi.image.pullPolicy }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        resources:
{{ toYaml .Values.platformApi.resources | indent 10 }}
        volumeMounts:
          - name: cluster-certs
            mountPath: /etc/cluster
        command:
        - sh
        - -c
        - |
          while true; do
            ls /etc/cluster/* && kubectl && break
            sleep 30
          done
      containers:
      {{ if .Values.auditService.config.enabled }}
      - name: audit-service
        image: {{ .Values.auditService.image.repository }}
        imagePullPolicy: {{ .Values.auditService.image.pullPolicy }}
        readinessProbe:
          exec:
            command:
            - cat
            - /opt/ibm/icp-audit/VERSION
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command:
            - cat
            - /opt/ibm/icp-audit/VERSION
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        resources:
{{ toYaml .Values.auditService.resources | indent 10 }}
        volumeMounts:
        - mountPath: /etc/audit-ingest
          name: audit-ingest
        - mountPath: /etc/audit-tls
          name: audit-server-certs
        - name: shared
          mountPath: {{ .Values.auditService.config.auditLogPath }}
        - name: logrotate
          mountPath: "/etc/logrotate.d/audit"
          subPath: audit
        - name: logrotate-conf
          mountPath: "/etc/logrotate.conf"
          subPath: logrotate.conf
      {{ end }}
      - name: platform-api
        image: {{ .Values.platformApi.image.repository }}
        imagePullPolicy: {{ .Values.platformApi.image.pullPolicy }}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          capabilities:
            drop:
            - ALL
        readinessProbe:
          httpGet:
            path: "/v1/config"
            scheme: HTTP
            port: 6969
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: "/v1/config"
            scheme: HTTP
            port: 6969
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
        env:
          - name: WLP_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: platform-oidc-credentials
                key: WLP_CLIENT_ID
          - name: WLP_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: platform-oidc-credentials
                key: WLP_CLIENT_SECRET
          - name: SERVICE_NAME
            value: {{ .Values.platformApi.name }}
          - name: LOG_LEVEL
            value: "info"
          - name: IAM_URL
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: IDENTITY_PROVIDER_URL
          - name: KUBERNETES_API_URL
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: KUBERNETES_API_URL
          - name: CLUSTER_IP
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: CLUSTER_IP
          - name: OIDC_URL
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: OIDC_URL
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: AUDIT_ENABLED
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: AUDIT_ENABLED
          - name: AUDIT_LOG_PATH
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: AUDIT_LOG_PATH
          - name: CLUSTER_CA_CERT
            value: "/etc/kube/ca.crt"
          - name: CLUSTER_ADMIN_CERT
            value: "/etc/kube/client.crt"
          - name: CLUSTER_ADMIN_KEY
            value: "/etc/kube/client.key"
          - name: CONTEXT_ROOT
            value: "/api"
          - name: IDENTITY_MGMT_URL
            valueFrom:
              configMapKeyRef:
                name: platform-api
                key: IDENTITY_MGMT_URL
          - name: CP_CONSOLE_HOST
            valueFrom:
              configMapKeyRef:
                name: management-ingress-info
                key: MANAGEMENT_INGRESS_ROUTE_HOST
          - name: CP_PROXY_HOST
            value: ""
        resources:
{{ toYaml .Values.platformApi.resources | indent 10 }}
        volumeMounts:
          - name: cluster-certs
            mountPath: /etc/cluster
          {{ if .Values.auditService.config.enabled }}
          - name: shared
            mountPath: {{ .Values.auditService.config.auditLogPath }}
          {{ end }}
    {{- if .Values.platformApi.tolerations }}
      tolerations:
{{ toYaml .Values.platformApi.tolerations | indent 8 }}
    {{- end }}
      volumes:
        - name: cluster-certs
          secret:
            secretName: {{ .Values.platformApi.config.clusterCASecret }}
            optional: true
            items:
            - key: tls.crt
              path: ca.pem
            - key: tls.key
              path: key.pem
        {{ if .Values.auditService.config.enabled }}
        - name: audit-ingest
          configMap:
            name: audit-logging-fluentd-ds-http-ingesturl
            optional: true
            items:
            - key: AuditLoggingSyslogIngestURL
              path: auditurl
        - name: audit-server-certs
          secret:
            secretName: audit-server-certs
            optional: true
        - name: shared
          emptyDir: {}
        - configMap:
            defaultMode: 420
            items:
            - key: LOGROTATE
              path: audit
            name: platform-api
          name: logrotate
        - configMap:
            defaultMode: 420
            items:
            - key: LOGROTATE_CONF
              path: logrotate.conf
            name: platform-api
          name: logrotate-conf
        {{ end }}
