apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: platformapis.operator.ibm.com
spec:
  group: operator.ibm.com
  names:
    kind: PlatformAPI
    listKind: PlatformAPIList
    plural: platformapis
    singular: platformapi
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: PlatformAPI is the Schema for the platformapis API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        spec:
          properties:
            auditService:
              type: object
              properties:
                config:
                  type: object
                  properties:
                    auditEnabled:
                      type: boolean
                image:
                  type: object
                  properties:
                    pullPolicy:
                      type: string
                    imageRegistry:
                      type: string
                    repository:
                      type: string
                    tag:
                      type: string
                resources:
                  type: object
                  properties:
                    limits:
                      type: object
                      properties:
                        cpu:
                          type: string
                        memory: 
                          type: string
            platformApi:
              type: object
              properties:
                image:
                  type: object
                  properties:
                    pullPolicy:
                      type: string
                    imageRegistry:
                      type: string                      
                    repository:
                      type: string
                    tag:
                      type: string
                name:
                  type: string
                replicaCount:
                  type: integer
                resources:
                  type: object
                  properties:
                    limits:
                      type: object
                      properties:
                        cpu:
                          type: string
                        memory: 
                          type: string
          type: object
        status:
          properties:
            conditions:
              items:
                properties:
                  lastTransitionTime:
                    type: string
                  lastUpdateTime:
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
                required: 
                - status
                - type
                type: object
              type: array
            deployedRelease:
              properties:
                manifest:
                  type: string
                name:
                  type: string
              type: object
          type: object
      required:
      - metadata
      - spec
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
