auditService:
  config:
    auditLogPath: /var/log/audit
    enabled: true
    logrotate: |-
      /var/log/audit/*.log {
        copytruncate
        rotate 24
        hourly
        missingok
        notifempty
      }
    logrotateConf: include /etc/logrotate.d
  image:
    pullPolicy: IfNotPresent
    imageRegistry: quay.io/opencloudio 
    repository: icp-audit-service
    tag: 3.4.0
  resources:
    limits:
      cpu: 200m
      memory: 250Mi
    requests:
      cpu: 200m
      memory: 250Mi
platformApi:
  config:
    acctName: mycluster Account
    clusterCASecret: cs-ca-certificate-secret
    clusterCAdomain: mycluster.icp
    clusterExternalAddress: 127.0.0.1
    clusterInternalAddress: 127.0.0.1
    clusterName: mycluster
    clusterSecurePort: 443
    etcdSecret: etcd-secret
    kubeApiserverSecurePort: 6443
  hostNetwork: false
  image:
    pullPolicy: IfNotPresent
    imageRegistry: quay.io/opencloudio
    repository: icp-platform-api
    tag: 3.3.0 #make sure to change back to 3.4
  name: platformapis.operator.ibm.com
  nodeSelector: 
    master: ""
  namespace: "ibm-common-services"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi
  tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
replicaCount: 1
runAsUser: 65534
