auditService:
  config:
    auditLogPath: /var/log/audit
    enabled: true
    logrotate: |-
      /var/log/audit/*.log {
        copytruncate
        rotate 24
        hourly
        missingok
        notifempty
      }
    logrotateConf: include /etc/logrotate.d
  image:
    repository: quay.io/opencloudio/audit-syslog-service:1.0.5
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 250Mi
    requests:
      cpu: 200m
      memory: 250Mi
platformApi:
  config:
    acctName: mycluster Account
    clusterCASecret: platform-api-secret
    clusterCAdomain: mycluster.icp
    clusterExternalAddress: 127.0.0.1
    clusterInternalAddress: 127.0.0.1
    clusterName: mycluster
    clusterSecurePort: 443
    etcdSecret: etcd-secret
    kubeApiserverSecurePort: 6443
  hostNetwork: false
  image:
    repository: quay.io/opencloudio/icp-platform-api:3.7.1
    pullPolicy: IfNotPresent
  name: platform-api
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi
  tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
replicaCount: 1
# replicas: 1
runAsUser: 65534
