auditService:
  config:
    auditLogPath: /var/log/audit
    enabled: true
    logrotate: |-
      /var/log/audit/*.log {
        copytruncate
        rotate 24
        hourly
        missingok
        notifempty
      }
    logrotateConf: include /etc/logrotate.d
  image:
    repository: quay.io/opencloudio/icp-audit-service@sha256:3cfb9f3cc99379758f73f1cd2e6ad4dd4bc61e13cc55d7c34b0d0e280cb47421
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 250Mi
    requests:
      cpu: 200m
      memory: 250Mi
platformApi:
  config:
    acctName: mycluster Account
    clusterCASecret: cs-ca-certificate-secret
    clusterCAdomain: mycluster.icp
    clusterExternalAddress: 127.0.0.1
    clusterInternalAddress: 127.0.0.1
    clusterName: mycluster
    clusterSecurePort: 443
    etcdSecret: etcd-secret
    kubeApiserverSecurePort: 6443
  hostNetwork: false
  image:
    repository: quay.io/opencloudio/icp-platform-api@sha256:ff2488fc92da31eec787b60a6bad8231540720a2e71b33d7ec3ab1010a303f9f
    pullPolicy: IfNotPresent
  name: platform-api
  namespace: "ibm-common-services"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi
  tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
replicaCount: 1
# replicas: 1
runAsUser: 65534
